@page "/chat"

@using Kotoba.Shared.DTOs
@using Kotoba.Domain.Enums
@using Microsoft.AspNetCore.SignalR.Client
@inject HttpClient Http
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<PageTitle>Chat</PageTitle>

<h1>Chat</h1>

<div style="display:flex; height:80vh; border:1px solid #ccc;">

    <!-- Left: Conversation list -->
    <div style="width:250px; border-right:1px solid #ccc; padding:0.5rem;">
        <h4>Conversations</h4>

        @if (conversations is null)
        {
            <p>Loading...</p>
        }
        else
        {
            @foreach (var conversation in conversations)
            {
                <div style="
                                padding:0.5rem;
                                cursor:pointer;
                                background:@(conversation.ConversationId == selectedConversationId ? "#eee" : "transparent");
                            "
                     @onclick="() => SelectConversation(conversation.ConversationId)">

                    @(conversation.Type == ConversationType.Group
                                ? conversation.GroupName
                                : "Direct Chat")
                </div>
            }
        }
    </div>

    <!-- Right: Messages -->
    <div style="flex:1; padding:0.5rem;">
        @if (selectedConversationId is null)
        {
            <p>Select a conversation</p>
        }
        else
        {
            <ul>
                @foreach (var message in SelectedMessages)
                {
                    <li>
                        <b>@message.SenderId:</b> @message.Content
                    </li>
                }
            </ul>

            <input @bind="newMessage" placeholder="Type a message" />
            <button @onclick="SendMessage">Send</button>
            <button @onclick="LeaveConservation">Leave</button>
        }

    </div>

</div>

@code {
    private HubConnection? _hubConnection;
    private List<ConversationDto>? conversations;
    private Dictionary<Guid, List<MessageDto>> messagesByConversation = new();

    private Guid? selectedConversationId;

    protected override async Task OnInitializedAsync()
    {
        await InitializeSignalR();
        var userId = "user-1";

        var response = await Http.GetFromJsonAsync<ConversationsResponse>($"api/conversations/{userId}");
        if (response is null)
        {
            return;
        }

        conversations = response.Conversations;

        messagesByConversation = response.Messages
            .GroupBy(m => m.ConversationId)
            .ToDictionary(g => g.Key, g => g.ToList());


        _hubConnection?.On<MessageDto>("SentMessage", message =>
        {
            SelectedMessages.Add(message);
            InvokeAsync(StateHasChanged);
        });
    }

    private async Task InitializeSignalR()
    {
        if (Http.BaseAddress is null)
        {
            Console.WriteLine("HttpClient BaseAddress is not configured.");
            return;
        }

        var hubUrl = new Uri(Http.BaseAddress, "chathub");

        _hubConnection = new HubConnectionBuilder()
                        .WithUrl(hubUrl)
                        .Build();

        RegisterSignalREvents();

        try
        {
            await _hubConnection.StartAsync();
            Console.WriteLine("SignalR connected");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"SignalR connection failed: {ex.Message}");
        }
    }

    private void RegisterSignalREvents()
    {
        if (_hubConnection is null)
            return;

        // _hubConnection.On<object>("MessageSent", payload =>
        // {
        //     Console.WriteLine($"MessageSent event received: {payload}");
        // });

        _hubConnection.On<object>("UserJoined", payload =>
        {
            Console.WriteLine($"UserJoined event received: {payload}");
        });

        _hubConnection.On<object>("UserLeft", payload =>
        {
            Console.WriteLine($"UserLeft event received: {payload}");
        });
    }


    private async Task SelectConversation(Guid conversationId)
    {
        selectedConversationId = conversationId;

        if (_hubConnection is null)
            return;

        try
        {
            await _hubConnection.InvokeAsync(
                "JoinConversation",
                conversationId.ToString()
            );

            Console.WriteLine($"Joined conversation group: {conversationId}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Failed to join conversation {conversationId}: {ex.Message}");
        }
    }

    private List<MessageDto> SelectedMessages
    {
        get
        {
            if (!selectedConversationId.HasValue)
            {
                return new();
            }

            return messagesByConversation.TryGetValue(selectedConversationId.Value, out var messages)
                ? messages
                : new();
        }
    }

    private string newMessage = string.Empty;

    private async Task SendMessage()
    {             
        try
        {
            if (string.IsNullOrWhiteSpace(newMessage) || selectedConversationId is null)
            return;

            var sentMessage = new MessageDto
            {
                ConversationId = selectedConversationId.Value,
                SenderId = "user-1",
                Content = newMessage,
                CreatedAt = DateTime.UtcNow
            };

            SelectedMessages.Add(sentMessage);

            StateHasChanged();

            var sendRequest = new SendMessageRequest
            {
                ConversationId = selectedConversationId.Value,
                SenderId = "user-1",
                Content = newMessage
            };

            await Http.PostAsJsonAsync(
                $"api/conversations/{selectedConversationId.Value}/messages",
                sendRequest);   
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Failed to send message {newMessage} to conversation {selectedConversationId}");
        }

        newMessage = string.Empty;

        // var response = await Http.GetFromJsonAsync<ConversationsResponse>("api/conversations/user-1");
        // if (response is null)
        // {
        //     return;
        // }

        // messagesByConversation = response.Messages
        //     .GroupBy(m => m.ConversationId)
        //     .ToDictionary(g => g.Key, g => g.ToList());
    }

    private async Task LeaveConservation()
    {
        if (selectedConversationId is null)
            return;

        if (_hubConnection is null)
            return;

        try
        {
            await _hubConnection.InvokeAsync(
                "SendTestLeave"
            );

            Console.WriteLine($"Leave conversation {selectedConversationId}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Failed to leave conversation {selectedConversationId}");
            return;
        }

        selectedConversationId = null;
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }

}
