@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Welcome to Kotoba!</h1>
        <p>You are logged in. <a href="/chat">Go to Chat</a></p>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome to Kotoba</h1>
        <p>Please login to start chatting.</p>
        <div class="mt-3">
            <a href="/login" class="btn btn-primary me-2">Login</a>
            <a href="/register" class="btn btn-secondary">Register</a>
        </div>
    </NotAuthorized>
</AuthorizeView>
