@inject IAttachmentService AttachmentService
@inject IStoryService StoryService
@inject NavigationManager Nav
@inject AuthenticationStateProvider AuthenticationStateProvider
<div class="editor">
    <div class="editor-left">
        <InputFile OnChange="OnFileSelected" />

        <input @bind="content" placeholder="Add caption..." />
        <button class="home-btn home-btn-secondary" @onclick="Submit">Post Story</button>
    </div>

    <div class="editor-right">
        @if (imagePreview != null)
        {
            <div class="preview">
                <div class="preview-bg" style="background-image:url('@imagePreview')"></div>

                <img src="@imagePreview" class="preview-img" />

                <div class="preview-text">@content</div>
            </div>
        }
    </div>


</div>

@code {
    private string content = "";
    private IBrowserFile? file;
    private string? imagePreview;

    private async Task OnFileSelected(InputFileChangeEventArgs e)
    {
        file = e.File;

        using var ms = new MemoryStream();
        await file.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024).CopyToAsync(ms);

        imagePreview = $"data:{file.ContentType};base64,{Convert.ToBase64String(ms.ToArray())}";
    }

    private async Task Submit()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier);

        if (string.IsNullOrWhiteSpace(userId))
        {
            return;
        }
        if (file == null) return;

        await using var stream = file.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024);

        var attachment = await AttachmentService.SaveFilePhysicalAsync(
            stream,
            file.Name,
            file.ContentType
        );

        await StoryService.CreateStoryAsync(new CreateStoryRequest
        {
            UserId = userId,
            Content = content,
            MediaUrl = attachment.Url
        });

        Nav.NavigateTo("/story");
    }
}
